<footer>
    <div id="atendimento">
        <a id="button-atendimento" href="/contato">
            <button class="button-atendimento">Chat</button>
        </a>
    </div>
    <div id="atendimentoDois">
        <h2>Entre em Contato Conosco</h2>
        <p>Caso tenha Dúvida</p>
        <form>
        <input type="text" name="name" placeholder="Digite Seu Nome">
        <input type="email" name="email" placeholder="Digite seu E-mail">
        <textarea type="text" name="mensagem" placeholder="Digite uma mensagem">
            </textarea>
        <input type="submit" value="Enviar">
        </form>
        <p>Site desenvolvido por: <span class="detail">Alisson Souza, Bruna Martins, Carlos Malvaso e Jonatan
                Ivanhoé</span>
        </p>
    </div>
</footer>