<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/global.css"/>
    <title>InfoDevs</title>
</head>
<body>
    
<div style="display: block; margin: 0 auto; text-align: center; margin-top: 50px"></div>

<h2 class="vitrine">Conectores</h2>
<ul class="product-list">
  <li class="product-item">
          <figure class="product-info">
              <div class="product-info-img">
              </div>
              <img src="https://http2.mlstatic.com/D_NQ_NP_750148-MLB45188062941_032021-O.webp" alt="description image">
              <figcaption class="product-info-description">
                  <h2 class="title">Conector RJ-45</h2>
                  <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris velit magna, placerat sed rutrum non, bibendum sed ante. Cras at fringilla justo. Duis vitae viverra diam, eget vehicula dolor.</p>
                  <ul class="star-ranking">
                      <li><img src="https://i.ibb.co/2kW5mnM/star.png">
                      </li>
                      <li><img src="https://i.ibb.co/2kW5mnM/star.png">
                      </li>
                      <li><img src="https://i.ibb.co/2kW5mnM/star.png">
                      </li>
                      <li><img src="https://i.ibb.co/2kW5mnM/star.png">
                      </li>
                      <li><img src="https://i.ibb.co/TwYYb93/star-1.png">
                      </li>
                      <li class="qtd-votes">
                          </span>(200)</span>
                      </li>
                  </ul>
              </figcaption>
              <div class="price-box">
                  <div class="price">
                      <div>
                          <del>R$2,00</del>
                          <ins>R$1,00</ins>
                      </div>
                  </div>
              </div>
          </figure>
      </a>
  </li>
  <li class="product-item">
          <figure class="product-info">
              <div class="product-info-img">
              </div>
              <img src="https://http2.mlstatic.com/D_NQ_NP_620440-MLB42913060714_072020-O.webp" alt="description image">
              <figcaption class="product-info-description">
                  <h2 class="title">Conector BNC</h2>
                  <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris velit magna, placerat sed rutrum non, bibendum sed ante. Cras at fringilla justo. Duis vitae viverra diam, eget vehicula dolor.</p>
                  <ul class="star-ranking">
                      <li><img src="https://i.ibb.co/2kW5mnM/star.png">
                      </li>
                      <li><img src="https://i.ibb.co/2kW5mnM/star.png">
                      </li>
                      <li><img src="https://i.ibb.co/2kW5mnM/star.png">
                      </li>
                      <li><img src="https://i.ibb.co/2kW5mnM/star.png">
                      </li>
                      <li><img src="https://i.ibb.co/TwYYb93/star-1.png">
                      </li>
                      <li class="qtd-votes">
                          </span>(200)</span>
                      </li>
                  </ul>
              </figcaption>
              <div class="price-box">
                  <div class="price">
                      <div>
                          <del>R$2,00</del>
                          <ins>R$1,00</ins>
                      </div>
                  </div>
              </div>
          </figure>
      </a>
  </li>
  <li class="product-item">
          <figure class="product-info">
              <div class="product-info-img">
                  <img src="https://http2.mlstatic.com/D_NQ_NP_631516-MLB43450939238_092020-O.webphttps://http2.mlstatic.com/D_NQ_NP_631516-MLB43450939238_092020-O.webp" alt="description image">
              </div>
              <figcaption class="product-info-description">
                  <h2 class="title">Conector P-4</h2>
                  <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris velit magna, placerat sed rutrum non, bibendum sed ante. Cras at fringilla justo. Duis vitae viverra diam, eget vehicula dolor.</p>
                  <ul class="star-ranking">
                      <li><img src="https://i.ibb.co/2kW5mnM/star.png">
                      </li>
                      <li><img src="https://i.ibb.co/2kW5mnM/star.png">
                      </li>
                      <li><img src="https://i.ibb.co/2kW5mnM/star.png">
                      </li>
                      <li><img src="https://i.ibb.co/2kW5mnM/star.png">
                      </li>
                      <li><img src="https://i.ibb.co/TwYYb93/star-1.png">
                      </li>
                      <li class="qtd-votes">
                          </span>(200)</span>
                      </li>
                  </ul>
              </figcaption>
              <div class="price-box">
                  <div class="price">
                      <div>
                          <del>R$2,00</del>
                          <ins>R$1,00</ins>
                      </div>
                  </div>
              </div>
          </figure>
      </a>
  </li>
 
</body>
</html>
