<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/global.css"/>
    <title>InfoDevs</title>
</head>

<body>
    
<header>

    <%- include('components/header') %>

</header>
    
<div style="display: block; margin: 0 auto; text-align: center; margin-top: 50px"></div>

<h2 class="vitrine">Smartphones</h2>
<ul class="product-list">
  <li class="product-item">
          <figure class="product-info">
              <div class="product-info-img">
              </div>
              <img src="https://carrefourbr.vtexassets.com/arquivos/ids/434853-800-auto?width=800&height=auto&aspect=true" alt="description image">
              <figcaption class="product-info-description">
                  <h2 class="title">Samsung Galaxy S9</h2>
                  <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris velit magna, placerat sed rutrum non, bibendum sed ante. Cras at fringilla justo. Duis vitae viverra diam, eget vehicula dolor.</p>
                  <ul class="star-ranking">
                      <li><img src="https://i.ibb.co/2kW5mnM/star.png">
                      </li>
                      <li><img src="https://i.ibb.co/2kW5mnM/star.png">
                      </li>
                      <li><img src="https://i.ibb.co/2kW5mnM/star.png">
                      </li>
                      <li><img src="https://i.ibb.co/2kW5mnM/star.png">
                      </li>
                      <li><img src="https://i.ibb.co/TwYYb93/star-1.png">
                      </li>
                      <li class="qtd-votes">
                          </span>(200)</span>
                      </li>
                  </ul>
              </figcaption>
              <div class="price-box">
                  <div class="price">
                      <div>
                          <del>R$1900,00</del>
                          <ins>R$1750,00</ins>
                      </div>
                  </div>
              </div>
          </figure>
      </a>
  </li>
  <li class="product-item">
          <figure class="product-info">
              <div class="product-info-img">
              </div>
              <img src="https://cdn.phonemore.com/content/2018/jpg/10316.jpg" alt="description image">
              <figcaption class="product-info-description">
                  <h2 class="title">IPhone X</h2>
                  <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris velit magna, placerat sed rutrum non, bibendum sed ante. Cras at fringilla justo. Duis vitae viverra diam, eget vehicula dolor.</p>
                  <ul class="star-ranking">
                      <li><img src="https://i.ibb.co/2kW5mnM/star.png">
                      </li>
                      <li><img src="https://i.ibb.co/2kW5mnM/star.png">
                      </li>
                      <li><img src="https://i.ibb.co/2kW5mnM/star.png">
                      </li>
                      <li><img src="https://i.ibb.co/2kW5mnM/star.png">
                      </li>
                      <li><img src="https://i.ibb.co/TwYYb93/star-1.png">
                      </li>
                      <li class="qtd-votes">
                          </span>(200)</span>
                      </li>
                  </ul>
              </figcaption>
              <div class="price-box">
                  <div class="price">
                      <div>
                          <del>R$3800,00</del>
                          <ins>R$3550,00</ins>
                      </div>
                  </div>
              </div>
          </figure>
      </a>
  </li>
  <li class="product-item">
          <figure class="product-info">
              <div class="product-info-img">
                  <img src="https://cdn.phonemore.com/content/2020/jpg/13677.jpg" alt="description image">
              </div>
              <figcaption class="product-info-description">
                  <h2 class="title">Xiaomi Note 10</h2>
                  <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris velit magna, placerat sed rutrum non, bibendum sed ante. Cras at fringilla justo. Duis vitae viverra diam, eget vehicula dolor.</p>
                  <ul class="star-ranking">
                      <li><img src="https://i.ibb.co/2kW5mnM/star.png">
                      </li>
                      <li><img src="https://i.ibb.co/2kW5mnM/star.png">
                      </li>
                      <li><img src="https://i.ibb.co/2kW5mnM/star.png">
                      </li>
                      <li><img src="https://i.ibb.co/2kW5mnM/star.png">
                      </li>
                      <li><img src="https://i.ibb.co/TwYYb93/star-1.png">
                      </li>
                      <li class="qtd-votes">
                          </span>(200)</span>
                      </li>
                  </ul>
              </figcaption>
              <div class="price-box">
                  <div class="price">
                      <div>
                          <del>R$2100,00</del>
                          <ins>R$2050,00</ins>
                      </div>
                  </div>
              </div>
          </figure>
      </a>
  </li>
  

<footer>

    <%- include('components/footer') %>
  
</footer>
 
</body>
</html>
