<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/categoria.css"/>
    
    
    <title>InfoDevs</title>
</head>
<body>
    


    <header id="navbar">
        <!--img logo-->
        <h2>InfoDevs</h2>
        <nav>
            <form action="" method="">
                <input type="text" name="name" placeholder="Digite seu Produto">
                <input type="submit" value="Buscar">
            </form>
            <ul id="navbar-list">
                <li><a href="#">Home</a></li>
                <li><a href="#">Categoria</a></li>
                <li><a href="#">DetalhesDoProduto</a></li>
            </ul>
        </nav>
    </header>




<section id="categorias">
    <div class="container-lista">
        <ul class="list">
            <li>Produtos</li>
            <li><a href="#">Cabos e Conectores</a></li>
            <li><a href="#">Celular e Smartphone</a></li>
            <li><a href="#">Computadores</a></li>
            <li><a href="#">Eletrônicos</a></li>
            <li><a href="#">Impressoras</a></li>
            <li><a href="#">Monitor</a></li>
            <li><a href="#">Notebbok</a></li>
        </ul>

    </div>

    <div class="container-produtos">

    </div>



</section>





    <footer>
        <h2>Entre em Contato Conosco</h2>
        <p>Caso tenha uma Dúvida</p>
        <!--img src="img.png" alt="perfil"-->
        <form action="" method="">
            <input type="text" name="name" placeholder="seu nome">
            <input type="email" name="email" placeholder="seu email">
            <textarea name="msg" placeholder="Digite uma mensagem">
            </textarea>
            <input type="submit" value="Enviar">
        </form>
        <p>Site desenvolvido por <span class="detail">Alisson Souza, Bruna Martins, Carlos Malvaso e Jonatan Rocha</span></p>
    </footer>


</body>
</html>