<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/global.css"/>
    
    
    <title>InfoDevs</title>
</head>





<header>

    <%- include('components/header') %>

</header>


<body>
    <section id="categorias">
        <div class="produtos-pai">
            <div class="container-lista">
                <ul class="menu">
                    <a href="#">Categoria</a>
                    <a href="#">Conector</a>
                    <a href="#">Smartphone</a>
                    <a href="#">Computador</a>
                    <a href="#">Impressora</a>
                    <a href="#">Monitor</a>
                </ul>
            </div>


            <div class="container-produtosum">
                <a href="container-produtosum cabo1"><img src="/img/cabo1.jpg" alt="Conector"></a>
                <a href="container-produtosum cabo2"><img src="/img/cabo2.jpg" alt="Conector"></a>
                <a href="container-produtosum cabo3"><img src="/img/cabo3.jpg" alt="Conector"></a>
            </div>
            <div class="container-produtosum">
                <a href="container-produtosum celular1"><img src="/img/celular1.jpg" alt="Celular"></a>
                <a href="container-produtosum celular2"><img src="/img/celular2.jpg" alt="Celular"></a>
                <a href="container-produtosum celular3"><img src="/img/celular3.jpg" alt="Celular"></a>
            </div>
            <div class="container-produtosum">
                <a href="container-produtosum impressora1"><img src="/img/impressora1.jpg" alt="Impressora"></a>
                <a href="container-produtosum impressora2"><img src="/img/impressora2.jpg" alt="Impressora"></a>
                <a href="container-produtosum impressora3"><img src="/img/impressora3.jpg" alt="Impressora"></a>
            </div>
            <div class="container-produtosum">
                <a href="container-produtosum monitor1"><img src="/img/monitor1.jpg" alt="Monitor"></a>
                <a href="container-produtosum monitor2"><img src="/img/monitor2.jpg" alt="Monitor"></a>
                <a href="container-produtosum monitor3"><img src="/img/monitor3.jpg" alt="Monitor"></a>
            </div>
            <div class="container-produtosum">
                <a href="container-produtosum notebook1"><img src="/img/notebook1.jpg" alt="Notebook"></a>
                <a href="container-produtosum notebook2"><img src="/img/notebook2.jpg" alt="Notebook"></a>
                <a href="container-produtosum notebook3"><img src="/img/notebook3.jpg" alt="Notebook"></a>
            </div>
        </div>


    </section>

</body>

<footer>

    <%- include('components/footer') %>
    
</footer>


</html>