<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InfoDevs</title>
</head>
<body>
    <div style="display: block; margin: 0 auto; text-align: center; margin-top: 50px"></div>

    <h2 class="vitrine">Computadores</h2>
    <ul class="product-list">
      <li class="product-item">
              <figure class="product-info">
                  <div class="product-info-img">
                  </div>
                  <img src="http://i.mlcdn.com.br/portaldalu/fotosconteudo/437.jpg">
                      <h2 class="title">PC Completo Easy PC</h2>
                      <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris velit magna, placerat sed rutrum non, bibendum sed ante. Cras at fringilla justo. Duis vitae viverra diam, eget vehicula dolor.</p>
                      <ul class="star-ranking">
                          <li><img src="https://i.ibb.co/2kW5mnM/star.png">
                          </li>
                          <li><img src="https://i.ibb.co/2kW5mnM/star.png">
                          </li>
                          <li><img src="https://i.ibb.co/2kW5mnM/star.png">
                          </li>
                          <li><img src="https://i.ibb.co/2kW5mnM/star.png">
                          </li>
                          <li><img src="https://i.ibb.co/TwYYb93/star-1.png">
                          </li>
                          <li class="qtd-votes">
                              </span>(200)</span>
                          </li>
                      </ul>
                  </figcaption>
                  <div class="price-box">
                      <div class="price">
                          <div>
                              <del>R$1250,00</del>
                              <ins>R$1029,00</ins>
                          </div>
                      </div>
                  </div>
              </figure>
          </a>
      </li>        
</body>
</html>