<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/css/global.css"/>
        
        <title>InfoDevs</title>
    </head>

<header>
    <div id="container-header">
        <div class="logo-buscar">
            <h2>InfoDevs</h2>
        </div>
        <div class="digite-seu-produto">
            <input type="text" name="name" placeholder="Digite seu Produto">
        </div>
        <div class="buscar">
            <input type="submit" value="Buscar">
        </div>

        <div class="cabecalho">
            <ul class="munu-cabecalho">
                <a href="/home">Home</a>
                <a href="/categoria">Categoria</a>
                <a href="/detalhedoproduto">Detalhes Do Produto</a>
            </ul>
        </div>
    </div>
</header>

<body>
    
</body>

<footer>
    <div id="atendimento">
        <a id="button-atendimento" href="/contato">
            <button class="button-atendimento">Chat</button>
        </a>
    </div>
    <div id="atendimentoDois">
        <h2>Entre em Contato Conosco</h2>
        <p>Caso tenha Dúvida</p>
        <input type="text" name="name" placeholder="Digite Seu Nome">
        <input type="email" name="email" placeholder="Digite seu E-mail">
        <textarea type="text" name="mensagem" placeholder="Digite uma mensagem">
            </textarea>
        <input type="submit" value="Enviar">
        <p>Site desenvolvido por: <span class="detail">Alisson Souza, Bruna Martins, Carlos Malvaso e Jonatan
                Ivan</span>
        </p>
    </div>
</footer>

</html>